services:
  ws:
    build: .
    working_dir: /sprinkler
    volumes:
      - ./:/sprinkler
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      OWNER_SNS: "${OWNER_SNS}"
      AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
      AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
      AWS_SESSION_TOKEN: "{$AWS_SESSION_TOKEN}"
    ports:
      - 8080:8080
    tty: true
  db:
    image: postgres
    volumes:
      - sprinkler-postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"

volumes:
  sprinkler-postgres-data:
